{% if cluster_token is not none %}
token: {{ cluster_token }}
{% endif %}


{# Only add server configuration if it is not the first node - Configure VIP as server if kube-vip is used #}
{% if not first_node_install %}
{% if control_plane_vip is not none and control_plane_vip_hostname is not none %}
server: https://{{ control_plane_vip_hostname }}:9345
{% elif control_plane_vip is not none %}
server: https://{{ control_plane_vip }}:9345
{% else %}
server: {{ control_plane_server }}
{% endif %}
{% endif %}

tls-san:
  - {{ node_ips }}
{% if control_plane_vip is not none %}
  - {{ control_plane_vip }}
{% endif %}
{% if control_plane_vip_hostname is not none %}
  - {{ control_plane_vip_hostname }}
{% endif %}
{% for h in additional_hostnames %}
  - {{ h }}
{% endfor %}

cni: {{ cni_plugin }}

{% if disabled_components is not none %}
disable:
{% for disabled_component in disabled_components %}
  - {{ disabled_component }}
{% endfor %}
{% endif %}

{# Define the Cluster domain if it is configured as variable #}
{% if cluster_domain is not none %}
cluster-domain: "{{ cluster_domain }}"
{% endif %}

{# Define the Cluster cidr if it is configured as variable #}
{% if cluster_cidr is not none %}
cluster-cidr: "{{ cluster_cidr }}"
{% endif %}

{# Define the service cidr if it is configured as variable #}
{% if service_cidr is not none %}
service-cidr: "{{ service_cidr }}"
{% endif %}

{# Define Node IP adresses explicitly #}
{% if node_ips is not none %}
node-ip: "{{ node_ips }}"
{% endif %}

{# Define Node external IP adresses explicitly #}
{% if node_external_ips is not none %}
node-external-ip: "{{ node_external_ips }}"
{% endif %}

{% if node_cidr_mask_ipv4 is not none and node_cidr_mask_ipv6 is not none  %}
kube-controller-manager-arg:
  - "node-cidr-mask-size-ipv4={{ node_cidr_mask_ipv4 }}"
  - "node-cidr-mask-size-ipv6={{ node_cidr_mask_ipv6 }}"
{% endif %}
